/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@use "@angular/material" as mat;

html {
  height: 100%;
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$red-palette,
      typography: Roboto,
      density: 0
    )
  );
}

body {
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, "Helvetica Neue", system-ui, -apple-system, "Segoe UI", "Noto Sans", "Helvetica", "Arial", sans-serif;
}
